*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    /* background-color: #4D5256; */ 
}

body{
    font-family: sans-serif;
}

.navbar{
    padding: 25px 64px;
    background-color: #212529;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.navbar .cart {
    position: relative;
   
    background-color: #fff;
    color:#212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
}

.navbar .cart .cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 3px;
    border-radius: 3px;

    background-color: red;
    color: #fff;

    font-size: 16px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;

}

.shop .item{   
    border: 2px solid #212529;
    border-radius: 4px;    
}

.shop .item .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.shop .item .details .price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.shop .item .details .price-quantity .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg{
    color: red;    
}

.bi-plus-lg{
    color: green;    
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}